@import "common/var";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  color: var(--td-color-text-regular);
  font-weight: $--checkbox-font-weight;
  font-size: $--font-size-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;

  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    border-radius: $--border-radius-base;
    border: $--border-width-base $--border-style-base
      var(--td-border-color-base);
    box-sizing: border-box;
    line-height: normal;
    height: $--checkbox-bordered-height;

    &.is-checked {
      border-color: var(--td-color-primary);
    }

    &.is-disabled {
      border-color: var(--td-border-color-lighter);
      cursor: not-allowed;
    }

    & + .td-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.td-checkbox--medium {
      padding: $--checkbox-bordered-medium-padding;
      border-radius: $--button-medium-border-radius;
      height: $--checkbox-bordered-medium-height;

      .td-checkbox__label {
        line-height: 17px;
        font-size: $--button-medium-font-size;
      }

      .td-checkbox__inner {
        height: $--checkbox-bordered-medium-input-height;
        width: $--checkbox-bordered-medium-input-width;
      }
    }

    &.td-checkbox--small {
      padding: $--checkbox-bordered-small-padding;
      border-radius: $--button-small-border-radius;
      height: $--checkbox-bordered-small-height;

      .td-checkbox__label {
        line-height: 15px;
        font-size: $--button-small-font-size;
      }

      .td-checkbox__inner {
        height: $--checkbox-bordered-small-input-height;
        width: $--checkbox-bordered-small-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.td-checkbox--mini {
      padding: $--checkbox-bordered-mini-padding;
      border-radius: $--button-mini-border-radius;
      height: $--checkbox-bordered-mini-height;

      .td-checkbox__label {
        line-height: 12px;
        font-size: $--button-mini-font-size;
      }

      .td-checkbox__inner {
        height: $--checkbox-bordered-mini-input-height;
        width: $--checkbox-bordered-mini-input-width;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .td-checkbox__inner {
        background-color: $--checkbox-disabled-input-fill;
        border-color: var(--td-border-color-base);
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: var(--td-color-text-placeholder);
        }

        & + .td-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .td-checkbox__inner {
          background-color: var(--td-border-color-extra-light);
          border-color: var(--td-border-color-base);

          &::after {
            border-color: var(--td-color-text-placeholder);
          }
        }
      }

      &.is-indeterminate {
        .td-checkbox__inner {
          background-color: var(--td-border-color-extra-light);
          border-color: var(--td-border-color-base);

          &::before {
            background-color: var(--td-color-text-placeholder);
            border-color: var(--td-color-text-placeholder);
          }
        }
      }

      & + span.td-checkbox__label {
        color: var(--td-color-text-placeholder);
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .td-checkbox__inner {
        background-color: var(--td-color-primary);
        border-color: var(--td-color-primary);

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .td-checkbox__label {
        color: var(--td-color-primary);
      }
    }
    @include when(focus) {
      /*focus时 视觉上区分*/
      .td-checkbox__inner {
        border-color: var(--td-color-primary);
      }
    }
    @include when(indeterminate) {
      .td-checkbox__inner {
        background-color: var(--td-color-primary);
        border-color: var(--td-color-primary);

        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: $--checkbox-checked-icon-color;
          height: 2px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 5px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: $--border-width-base $--border-style-base
      var(--td-border-color-base);
    border-radius: $--checkbox-border-radius;
    box-sizing: border-box;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    background-color: $--checkbox-background-color;
    z-index: $--index-normal;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

    &:hover {
      border-color: var(--td-color-primary);
    }

    &::after {
      box-sizing: content-box;
      content: "";
      border: 1px solid $--checkbox-checked-icon-color;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform 0.15s ease-in 0.05s;
      transform-origin: center;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: $--checkbox-font-size;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    font-weight: $--checkbox-font-weight;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: $--button-default-background-color;
    border: $--border-width-base $--border-style-base
      var(--td-border-color-base);
    border-left: 0;
    color: var(--td-color-text-regular);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    transition: $--all-transition;
    @include utils-user-select(none);

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--button-font-size,
      0
    );

    &:hover {
      color: var(--td-color-primary);
    }

    & [class*="td-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &.is-checked {
    & .td-checkbox-button__inner {
      color: $--checkbox-button-checked-font-color;
      background-color: var(--td-color-primary);
      border-color: var(--td-color-primary);
      box-shadow: -1px 0 0 0 var(--td-color-primary-light-4);
    }
    &:first-child .td-checkbox-button__inner {
      border-left-color: var(--td-color-primary);
    }
  }

  &.is-disabled {
    & .td-checkbox-button__inner {
      color: var(--td-color-text-placeholder);
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-background-color;
      border-color: var(--td-border-color-lighter);
      box-shadow: none;
    }
    &:first-child .td-checkbox-button__inner {
      border-left-color: var(--td-border-color-lighter);
    }
  }

  &:first-child {
    .td-checkbox-button__inner {
      border-left: $--border-width-base $--border-style-base
        var(--td-border-color-base);
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .td-checkbox-button__inner {
      border-color: var(--td-color-primary);
    }
  }

  &:last-child {
    .td-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }
  @include m(medium) {
    .td-checkbox-button__inner {
      @include button-size(
        $--button-medium-padding-vertical,
        $--button-medium-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }
  @include m(small) {
    .td-checkbox-button__inner {
      @include button-size(
        $--button-small-padding-vertical,
        $--button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }
  @include m(mini) {
    .td-checkbox-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
