@import "mixins/mixins";
@import "common/var";
@import "input";

@include b(input-number) {
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: calc($--input-height - 2px);

  .td-input {
    display: block;

    &__inner {
      -webkit-appearance: none;
      padding-left: calc($--input-height + 10px);
      padding-right: calc($--input-height + 10px);
      text-align: center;
    }
  }

  @include e((increase, decrease)) {
    position: absolute;
    z-index: 1;
    top: 1px;
    width: $--input-height;
    height: auto;
    text-align: center;
    background: var(--td-background-color-base);
    color: var(--td-color-text-regular);
    cursor: pointer;
    font-size: 13px;

    &:hover {
      color: var(--td-color-primary);

      &:not(.is-disabled) ~ .td-input .td-input__inner:not(.is-disabled) {
        border-color: var(--td-color-primary);
      }
    }

    &.is-disabled {
      color: var(--td-color-text-placeholder);
      cursor: not-allowed;
    }
  }

  @include e(increase) {
    right: 1px;
    border-radius: 0 $--border-radius-base $--border-radius-base 0;
    border-left: $--border-width-base $--border-style-base
      var(--td-border-color-base);
  }

  @include e(decrease) {
    left: 1px;
    border-radius: $--border-radius-base 0 0 $--border-radius-base;
    border-right: $--border-width-base $--border-style-base
      var(--td-border-color-base);
  }

  @include when(disabled) {
    @include e((increase, decrease)) {
      border-color: var(--td-border-color-light);
      color: var(--td-border-color-light);

      &:hover {
        color: var(--td-border-color-light);
        cursor: not-allowed;
      }
    }
  }

  @include m(medium) {
    width: 200px;
    line-height: calc($--input-medium-height - 2px);

    @include e((increase, decrease)) {
      width: $--input-medium-height;
      font-size: $--input-medium-font-size;
    }

    .td-input__inner {
      padding-left: calc($--input-medium-height + 7px);
      padding-right: calc($--input-medium-height + 7px);
    }
  }

  @include m(small) {
    width: 130px;
    line-height: calc($--input-small-height - 2px);

    @include e((increase, decrease)) {
      width: $--input-small-height;
      font-size: $--input-small-font-size;

      [class*="td-icon"] {
        transform: scale(0.9);
      }
    }

    .td-input__inner {
      padding-left: calc($--input-small-height + 7px);
      padding-right: calc($--input-small-height + 7px);
    }
  }

  @include m(mini) {
    width: 130px;
    line-height: calc($--input-mini-height - 2px);

    @include e((increase, decrease)) {
      width: $--input-mini-height;
      font-size: $--input-mini-font-size;

      [class*="td-icon"] {
        transform: scale(0.8);
      }
    }

    .td-input__inner {
      padding-left: calc($--input-mini-height + 7px);
      padding-right: calc($--input-mini-height + 7px);
    }
  }

  @include when(without-controls) {
    .td-input__inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include when(controls-right) {
    .td-input__inner {
      padding-left: 15px;
      padding-right: calc($--input-height + 10px);
    }

    @include e((increase, decrease)) {
      border: none;
      width: 14px;
      right: 8px;
      top: auto;
      left: auto;
      bottom: auto;
      height: auto;
      line-height: calc(($--input-height - 16px) / 2);

      [class*="td-icon"] {
        transform: scale(0.8);
      }
    }

    @include e(increase) {
      top: 8px;
      border-radius: $--border-radius-base $--border-radius-base 0 0;
    }

    @include e(decrease) {
      bottom: 8px;
      border-radius: 0 0 $--border-radius-base $--border-radius-base;
    }

    &[class*="medium"] {
      [class*="increase"] {
        top: 6px;
        line-height: calc(($--input-medium-height - 16px) / 2);
      }
      [class*="decrease"] {
        bottom: 6px;
        line-height: calc(($--input-medium-height - 16px) / 2);
      }
    }

    &[class*="small"] {
      [class*="increase"] {
        top: 4px;
        line-height: calc(($--input-small-height - 16px) / 2);
      }
      [class*="decrease"] {
        bottom: 4px;
        line-height: calc(($--input-small-height - 16px) / 2);
      }
    }

    &[class*="mini"] {
      [class*="increase"] {
        top: 2px;
        line-height: calc(($--input-mini-height - 16px) / 2);
      }
      [class*="decrease"] {
        bottom: 2px;
        line-height: calc(($--input-mini-height - 16px) / 2);
      }
    }
  }
}
