@import "mixins/mixins";
@import "common/var";

@include b(link) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: $--link-font-size;
  font-weight: $--link-font-weight;

  @include when(underline) {
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid var(--td-color-primary);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*="td-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  &.td-link--default {
    color: var(--td-color-text-regular);
    &:hover {
      color: var(--td-color-primary);
    }
    &:after {
      border-color: var(--td-color-primary);
    }
    @include when(disabled) {
      color: var(--td-color-text-placeholder);
    }
  }
  &.td-link--primary {
    color: var(--td-color-primary);
    &:hover {
      color: var(--td-color-primary-light-2);
    }
    &:after {
      border-color: var(--td-color-primary);
    }
    @include when(disabled) {
      color: var(--td-color-primary-light-5);
    }
    @include when(underline) {
      &:hover:after {
        border-color: var(--td-color-primary);
      }
    }
  }
  &.td-link--danger {
    color: var(--td-color-danger);
    &:hover {
      color: var(--td-color-danger-light-2);
    }
    &:after {
      border-color: var(--td-color-danger);
    }
    @include when(disabled) {
      color: var(--td-color-danger-light-5);
    }
    @include when(underline) {
      &:hover:after {
        border-color: var(--td-color-danger);
      }
    }
  }
  &.td-link--success {
    color: var(--td-color-success);
    &:hover {
      color: var(--td-color-success-light-2);
    }
    &:after {
      border-color: var(--td-color-success);
    }
    @include when(disabled) {
      color: var(--td-color-success-light-5);
    }
    @include when(underline) {
      &:hover:after {
        border-color: var(--td-color-success);
      }
    }
  }
  &.td-link--warning {
    color: var(--td-color-warning);
    &:hover {
      color: var(--td-color-warning-light-2);
    }
    &:after {
      border-color: var(--td-color-warning);
    }
    @include when(disabled) {
      color: var(--td-color-warning-light-5);
    }
    @include when(underline) {
      &:hover:after {
        border-color: var(--td-color-warning);
      }
    }
  }
  &.td-link--info {
    color: var(--td-color-info);
    &:hover {
      color: var(--td-color-info-light-2);
    }
    &:after {
      border-color: var(--td-color-info);
    }
    @include when(disabled) {
      color: var(--td-color-info-light-5);
    }
    @include when(underline) {
      &:hover:after {
        border-color: var(--td-color-info);
      }
    }
  }
}
