@import "mixins/mixins";
@import "common/var";

@include b(message) {
  min-width: $--message-min-width;
  box-sizing: border-box;
  border-radius: $--border-radius-base;
  border-width: $--border-width-base;
  border-style: $--border-style-base;
  border-color: var(--td-border-color-lighter);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: $--message-background-color;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
  overflow: hidden;
  padding: $--message-padding;
  display: flex;
  align-items: center;

  @include when(center) {
    justify-content: center;
  }

  @include when(closable) {
    .td-message__content {
      padding-right: 16px;
    }
  }

  p {
    margin: 0;
  }

  @include m(info) {
    .td-message__content {
      color: var(--td-color-info);
    }
  }

  @include m(success) {
    background-color: var(--td-color-success-light-9);
    border-color: var(--td-color-success-light-8);

    .td-message__content {
      color: var(--td-color-success);
    }
  }

  @include m(warning) {
    background-color: var(--td-color-warning-light-9);
    border-color: var(--td-color-warning-light-8);

    .td-message__content {
      color: var(--td-color-warning);
    }
  }

  @include m(error) {
    background-color: var(--td-color-danger-light-9);
    border-color: var(--td-color-danger-light-8);

    .td-message__content {
      color: var(--td-color-danger);
    }
  }

  @include e(icon) {
    margin-right: 10px;
  }

  @include e(content) {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    &:focus {
      outline-width: 0;
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--td-color-text-placeholder);
    font-size: $--message-close-size;

    &:focus {
      outline-width: 0;
    }
    &:hover {
      color: var(--td-color-text-secondary);
    }
  }

  & .td-icon-success {
    color: var(--td-color-success);
  }

  & .td-icon-error {
    color: var(--td-color-danger);
  }

  & .td-icon-info {
    color: var(--td-color-info);
  }

  & .td-icon-warning {
    color: var(--td-color-warning);
  }
}

.td-message-fade-enter,
.td-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}
