@import "mixins/mixins";
@import "common/var";

@include b(select-dropdown) {
  @include e(item) {
    font-size: $--select-font-size;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--td-color-text-regular);
    height: $--select-option-height;
    line-height: $--select-option-height;
    box-sizing: border-box;
    cursor: pointer;

    @include when(disabled) {
      color: var(--td-color-text-placeholder);
      cursor: not-allowed;

      &:hover {
        background-color: $--color-white;
      }
    }

    &.hover,
    &:hover {
      background-color: var(--td-background-color-base);
    }

    &.selected {
      color: var(--td-color-primary);
      font-weight: bold;
    }
  }
}
