@import "mixins/mixins";
@import "common/var";

@include b(password) {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;
  @include e(password) {
    .td-input__inner {
      -webkit-text-security: disc;
    }
  }
}
