@import "mixins/mixins";
@import "common/var";

@include b(tag) {
  background-color: var(--td-color-primary-light-9);
  border-color: var(--td-color-primary-light-7);
  color: var(--td-color-primary);

  @include when(hit) {
    border-color: var(--td-color-primary);
  }

  .td-tag__close {
    color: var(--td-color-primary);
    &:hover {
      color: $--color-white;
      background-color: var(--td-color-primary);
    }
  }

  &.td-tag--info {
    background-color: var(--td-color-info-light-9);
    border-color: var(--td-color-info-light-7);
    color: var(--td-color-info);

    @include when(hit) {
      border-color: var(--td-color-info);
    }

    .td-tag__close {
      color: var(--td-color-info);
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-info);
      }
    }
  }

  &.td-tag--success {
    background-color: var(--td-color-success-light-9);
    border-color: var(--td-color-success-light-7);
    color: var(--td-color-success);

    @include when(hit) {
      border-color: $--color-success;
    }

    .td-tag__close {
      color: var(--td-color-success);
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-success);
      }
    }
  }

  &.td-tag--warning {
    background-color: var(--td-color-warning-light-9);
    border-color: var(--td-color-warning-light-7);
    color: var(--td-color-warning);

    @include when(hit) {
      border-color: var(--td-color-warning);
    }

    .td-tag__close {
      color: var(--td-color-warning);
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-warning);
      }
    }
  }

  &.td-tag--danger {
    background-color: var(--td-color-danger-light-9);
    border-color: var(--td-color-danger-light-7);
    color: var(--td-color-danger);

    @include when(hit) {
      border-color: var(--td-color-danger);
    }

    .td-tag__close {
      color: var(--td-color-danger);
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-danger);
      }
    }
  }
  & {
    display: inline-block;
    height: 32px;
    padding: $--tag-padding;
    line-height: 30px;
    font-size: $--tag-font-size;
    color: var(--td-color-primary);
    border-width: 1px;
    border-style: solid;
    border-radius: $--tag-border-radius;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .td-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;

    &::before {
      display: block;
    }
  }

  @include m(dark) {
    background-color: var(--td-color-primary);
    border-color: var(--td-color-primary);
    color: $--color-white;

    @include when(hit) {
      border-color: var(--td-color-primary);
    }

    .td-tag__close {
      color: $--color-white;
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-primary-light-2);
      }
    }

    &.td-tag--info {
      background-color: var(--td-color-info);
      border-color: var(--td-color-info);
      color: $--color-white;

      @include when(hit) {
        border-color: var(--td-color-info);
      }

      .td-tag__close {
        color: $--color-white;
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-info-light-2);
        }
      }
    }

    &.td-tag--success {
      background-color: var(--td-color-success);
      border-color: var(--td-color-success);
      color: $--color-white;

      @include when(hit) {
        border-color: $--color-success;
      }

      .td-tag__close {
        color: $--color-white;
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-success-light-2);
        }
      }
    }

    &.td-tag--warning {
      background-color: var(--td-color-warning);
      border-color: var(--td-color-warning);
      color: $--color-white;

      @include when(hit) {
        border-color: var(--td-color-warning);
      }

      .td-tag__close {
        color: $--color-white;
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-warning-light-2);
        }
      }
    }

    &.td-tag--danger {
      background-color: var(--td-color-danger);
      border-color: var(--td-color-danger);
      color: $--color-white;

      @include when(hit) {
        border-color: var(--td-color-danger);
      }

      .td-tag__close {
        color: $--color-white;
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-danger-light-2);
        }
      }
    }
  }

  @include m(plain) {
    background-color: $--color-white;
    border-color: var(--td-color-primary-light-6);
    color: var(--td-color-primary);

    @include when(hit) {
      border-color: var(--td-color-primary);
    }

    .td-tag__close {
      color: var(--td-color-primary);
      &:hover {
        color: $--color-white;
        background-color: var(--td-color-primary);
      }
    }

    &.td-tag--info {
      background-color: $--color-white;
      border-color: var(--td-color-info-light-6);
      color: var(--td-color-info);

      @include when(hit) {
        border-color: var(--td-color-info);
      }

      .td-tag__close {
        color: var(--td-color-info);
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-info);
        }
      }
    }

    &.td-tag--success {
      background-color: $--color-white;
      border-color: var(--td-color-success-light-6);
      color: var(--td-color-success);

      @include when(hit) {
        border-color: $--color-success;
      }

      .td-tag__close {
        color: var(--td-color-success);
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-success);
        }
      }
    }

    &.td-tag--warning {
      background-color: $--color-white;
      border-color: var(--td-color-warning-light-6);
      color: var(--td-color-warning);

      @include when(hit) {
        border-color: var(--td-color-warning);
      }

      .td-tag__close {
        color: var(--td-color-warning);
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-warning);
        }
      }
    }

    &.td-tag--danger {
      background-color: $--color-white;
      border-color: var(--td-color-danger-light-6);
      color: var(--td-color-danger);

      @include when(hit) {
        border-color: var(--td-color-danger);
      }

      .td-tag__close {
        color: var(--td-color-danger);
        &:hover {
          color: $--color-white;
          background-color: var(--td-color-danger);
        }
      }
    }
  }

  @include m(medium) {
    height: 28px;
    line-height: 26px;

    .td-icon-close {
      transform: scale(0.8);
    }
  }

  @include m(small) {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;

    .td-icon-close {
      transform: scale(0.8);
    }
  }

  @include m(mini) {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;

    .td-icon-close {
      margin-left: -3px;
      transform: scale(0.7);
    }
  }
}
