{
  "presets": ["@vue/babel-preset-app"],
  "env": {
    "utils": {
      "presets": [
        [
          "@vue/babel-preset-app",
          {
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["@tenado/ui"],
            "alias": {
              "@tenado/ui/src": "@tenado/ui/lib"
            }
          }
        ]
      ]
    }
  }
}
