.td-header,
.td-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.td-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .td-header,
  .td-footer {
    text-align: center;
  }

  .td-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .td-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .td-container {
    margin-bottom: 40px;

    &:nth-child(5) .td-aside,
    &:nth-child(6) .td-aside {
      line-height: 260px;
    }

    &:nth-child(7) .td-aside {
      line-height: 320px;
    }
  }
}
